/* ---------------------INDEX--------------------- */
/* 1-ACCUEIL */
/* 2-PRESENTATION */
/* ----- 2.1-GRID-POSITION ----- */
/* 3-EQUIPE */
/* 4-CONTACT */
/* 5-REALISATIONS */

* {
  font-family: "Work Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 2%;
}

#logo {
  width: 12%;
  min-width: 150px;
}

#nav_bar {
  background: white;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  color: #0b005d;
  box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.3);
  z-index: 4;
}

#nav_bar ul {
  list-style-type: none;
  padding: 0;
  font-family: "Work Sans", "courier";
  display: flex;
  justify-content: space-between;
  flex-grow: 0.8;
}

#nav_bar a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.nav_underline {
  position: relative;
}

.nav_underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  background-color: #3e3a60;
  transition: all 0.4s ease-in-out;
}

.nav_underline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* 1-ACCUEIL */

.accueil {
  font-family: "Work Sans", "courier";
}

#accueil_background {
  background-image: url("images/stock/skyscrapers.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accueil .container {
  background: white;
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
}

.accueil .container_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accueil .stock_photo {
  width: 50%;
  min-width: 300px;
  flex-grow: 999999;
}

.accueil .stock_photo img {
  width: 100%;
  height: 100%;
}

#container_reverse {
  flex-direction: row-reverse;
}

.accueil .stock_text {
  margin: auto 5% auto 5%;
  padding: 5% 0 5% 0;
  width: 40%;
  min-width: 400px;
  flex-grow: 1;
  color: #2f2775;
  font-size: 1.1em;
}

.accueil h3 {
  font-size: 1.8em;
  margin-top: 0;
  color: #0b005d;
  letter-spacing: 2px;
}

.accueil strong,
.accueil em {
  font-style: inherit;
  font-weight: inherit;
}

/* 2-PRESENTATION */
.maincraftpresent {
}
.mainpresentcontainer {
  padding: 1px 5% 0 5%;

  background: cornflowerblue;
  text-align: center;
  background-image: url(images/presentation/presentation.png);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.maintitle {
  color: #0b005d;
  background: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}
.maintitle p {
  padding: 3%;
}
.mainpresent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  background: rgba(255, 255, 255, 0.938);
}

/* 2.1-GRID POSITION */

/*-------- Titles : div 1 / 4 / 7 / 10 / 13 --------*/

.div1,
.div4,
.div7,
.div10,
.div13 {
  font-size: 4em;
  margin: auto;
  text-transform: uppercase;
  color: #0b005d;
  letter-spacing: 5px;
}

/* Images : div 2 / 6 / 8 / 12 / 14 */
.div2 img,
.div6 img,
.div8 img,
.div12 img,
.div14 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgb(86, 160, 206);
}

/* Texts : div 3 / 5 / 9 / 11 / 15 */

.div3,
.div5,
.div9,
.div11,
.div15 {
  color: #0b005d;
  margin: auto;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 1.4em;
  font-weight: 600;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}
.div10 {
  grid-area: 4 / 1 / 5 / 2;
}
.div11 {
  grid-area: 4 / 2 / 5 / 3;
}
.div12 {
  grid-area: 4 / 3 / 5 / 4;
}

.div13 {
  grid-area: 5 / 1 / 6 / 2;
}
.div14 {
  grid-area: 5 / 2 / 6 / 3;
}

.div15 {
  grid-area: 5 / 3 / 6 / 4;
}

/* 3-EQUIPE */

.teambg {
  background: url(images/stock/contracting.jpg);
  text-align: center;
}

.teamintro {
  color: #0b005d;
}

.teamcontainer {
  margin: 0 5% 0 5%;
}
.teamgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: rgba(255, 255, 255, 0.747);
}

/* Texts : div 1 / 2 / 3 / 4 / 5 / 6 */

.divteam1,
.divteam2,
.divteam3,
.divteam4,
.divteam5,
.divteam6 {
  color: #0b005d;

  letter-spacing: 2px;
  font-style: italic;
  font-size: 1.3em;
  font-weight: 500;
  padding: 0 5% 0 5%;
}

/* Images : div 7 / 8 / 9 / 10 / 11 / 12 */
.divteam7 img,
.divteam8 img,
.divteam9 img,
.divteam10 img,
.divteam11 img,
.divteam12 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divteam1 {
  grid-area: 1 / 1 / 2 / 2;
}
.divteam2 {
  grid-area: 1 / 2 / 2 / 3;
  background: rgba(201, 201, 201, 0.747);
}
.divteam3 {
  grid-area: 1 / 3 / 2 / 4;
}
.divteam4 {
  grid-area: 3 / 1 / 4 / 2;
  background: rgba(201, 201, 201, 0.747);
}
.divteam5 {
  grid-area: 3 / 2 / 4 / 3;
}
.divteam6 {
  grid-area: 3 / 3 / 4 / 4;
  background: rgba(201, 201, 201, 0.747);
}
.divteam7 {
  grid-area: 2 / 1 / 3 / 2;
}
.divteam8 {
  grid-area: 2 / 2 / 3 / 3;
}
.divteam9 {
  grid-area: 2 / 3 / 3 / 4;
}
.divteam10 {
  grid-area: 4 / 1 / 5 / 2;
}
.divteam11 {
  grid-area: 4 / 2 / 5 / 3;
}
.divteam12 {
  grid-area: 4 / 3 / 5 / 4;
}

/* 4-CONTACT */
.contactmain {
  margin-right: 3%;
  align-items: center;
  text-align: center;
  margin-bottom: 3%;
  color: #0b005d;
}
.contactsection1 h1 {
  font-size: 1.3em;
}
.contactsection1 p {
  font-size: 0.9em;
}

.contactform {
  text-align: center;
  padding-left: 5%;
}

.contactorganizer label {
  display: block;
  padding-top: 8px;
  padding-left: 15px;
  margin: 0% 0 0.5% 0;
}

.contactorganizer input,
select {
  margin-left: 3%;
  width: 90%;
}
.formbg {
  background: url(images/contact/background-contact.jpg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: right;
}

.myForm {
  display: grid;
  grid-template-columns: [labels] auto [controls] 0.8fr;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  background: #5d9ce4;
  color: #0b005d;
  padding: 1.2%;
  font-size: 1.3em;
  width: 45%;
  margin-left: 3%;
}
.myForm > label {
  grid-column: labels;
  grid-row: auto;
}
.myForm > input,
.myForm > textarea,
.myForm > button,
.myForm > select {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: 1em;
}

/* 5-REALISATIONS */

#realisations_background {
  background-image: url("images/stock/city_background.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#realisations_gallery {
  display: flex;
  justify-content: center;
  padding: 5% 0 5% 0;
}

.image {
  width: 150px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.9s ease-in;
}

.image img {
  height: 100%;
  object-fit: cover;
}

.image:hover {
  width: 35%;
  transition: all 0.9s ease-in-out;
  box-shadow: 0px 0px 15px 5px rgba(20, 20, 20, 0.7);
  z-index: 3;
}

/* FOOTER */

#main_footer li {
  list-style-type: none;
}

#main_footer ul {
  padding-left: 0;
}

#main_footer a {
  text-decoration: none;
  position: relative;
}

#links1 a::before,
#links2 a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  background-color: #3e3a60;
  transition: all 0.4s ease-in-out;
}

#links1 a:hover::before,
#links2 a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

#main_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2% 3% 2% 3%;
  text-align: center;
  box-shadow: 0px -20px 30px -15px rgba(0, 0, 0, 0.3);
}

#footer_networks {
  padding: 1%;
  margin-left: -10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hoverable_logo {
  width: 30%;
  height: 100%;
  position: relative;
}

#hoverable_logo:hover ~ #survol {
  transform: translateY(40px);
  opacity: 0;
  transition: all 1s;
}

#footer_networks a {
  opacity: 0;
}

#hoverable_logo a {
  position: absolute;
  left: 45%;
  top: 50%;
  font-size: 1.7em;
}

#hoverable_logo:hover {
  cursor: pointer;
}

#hoverable_logo:hover #facebook_footer {
  opacity: 1;
  transform: translate(-80px, -65px);
  transition: all 0.5s ease-in-out;
  padding: 5%;
}

#facebook_footer,
#twitter_footer,
#youtube_footer,
#linkedin_footer,
#instagram_footer,
#mail_footer,
#survol {
  transition: 0.8s ease-in;
}

#facebook_footer i {
  color: #4064ac;
}

#twitter_footer i {
  color: #34b3f7;
}

#youtube_footer i {
  color: #f60002;
}

#linkedin_footer i {
  color: #0270ad;
}

#instagram_footer i {
  color: #d94176;
}

#mail_footer i {
  color: #f7a634;
}

#hoverable_logo i:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

#hoverable_logo:hover #twitter_footer {
  opacity: 1;
  transform: translate(-80px, -22px);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.1s;
  padding: 5%;
}

#hoverable_logo:hover #instagram_footer {
  opacity: 1;
  transform: translate(-80px, 20px);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.2s;
  padding: 5%;
}

#hoverable_logo:hover #linkedin_footer {
  opacity: 1;
  transform: translate(55px, 20px);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
  padding: 5%;
}

#hoverable_logo:hover #youtube_footer {
  opacity: 1;
  transform: translate(55px, -22px);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.4s;
  padding: 5%;
}

#hoverable_logo:hover #mail_footer {
  opacity: 1;
  transform: translate(55px, -65px);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  padding: 5%;
}

#main_footer a {
  color: #0b005d;
}

#logo_footer {
  width: 100%;
  height: 100%;
}

#links1,
#links2 {
  display: flex;
}

#links1 {
  margin-left: -8%;
}

#list_links1,
#list_links2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
